body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  font-family: "poppins";
  /* background-color: "#181818"; */
  background-color: #222222;
  color: white;
}

.underline-animation{
  text-decoration: none;
  color: white;
  font-family: cursive;
  position: relative;
  display: flex;
  justify-content:flex-end;
  font-size:20px;
  margin-top: 20px;

}

.underline-animation:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underline-animation::after{
  content: '';
  position: absolute;
  height: 2px;
  bottom:0;
  left:0;
  background-color: #ffff00;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

li{
  list-style: none;
}

.menu {
  display: none;
  justify-content: flex-end;
  padding: 0;
  position: static;
  z-index: 9.9;
  right: 0;
  top: 3em;
  background-color: rgb(156, 28, 28);
  border-radius: 0.5em;
  width: 100%;
}

.menu li {
  font-weight: 500;
  list-style: none;
  color: black;
  padding: 1.2em;
  border-bottom: 1px solid #282828;
}

.closebtn {
  display: none;
}

.show {
  display: block;
  transform: translateX(0px);
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.main-content {
  width: auto;
  background-color: #282828;
  color: aliceblue;
  height: 100%;
  margin: auto;
}

button {
  padding: 12px 35px;
  border: 1px solid #6e57e0;
}

.OutL {
  border: 2px solid #6e57e0;
  border-radius: 10px;
  margin-right: 4px;
}

.icon {
  color: white;
}

.lang {
  background-color: red;
  background-image: linear-gradient(
    45deg,
    #6e57e0,
    #9942af,
    #ca4246 16.666%,
    #476098 66.666%,
    #a7489b 83.333%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* font-size: 1.2em; */
  font-family: "poppins";
}

.nameLan {
  align-items: center;
}

.pro{
  font-family: "poppins";
  position: relative;
  color: #6e57e0;
}

.pro::after{
  font-family: "poppins";
  content:" ";
  height: 2px;
  width: 200px;
  background: #dedde1;
  display: block;
  position: absolute;
  top: 70%;
    right: 380px;
}

.projects{
  width: 300px;
  height:350px;
  /* background-color: rgb(30, 39, 50); animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-8318404412199-1; */
}

.react-reveal{
  opacity: 0;
}


.single-project{
  border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(43, 4, 4, 0.226);
    cursor: pointer;
    height: 450px;
    justify-content: center;
    overflow: hidden;
    padding: 1.4rem 2rem;
    position: relative;
    width: 180px;
  
}

.single-project:hover{

height: 500px;
}

.single-content{
  padding:20px;
}

/* .cards-wrapper{
  border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(36,3,3,.2);
    cursor: pointer;
    height: 450px;
    justify-content: center;
    overflow: hidden;
    padding: 1.4rem 2rem;
    position: relative;
    width: 230px;
} */

.cards-wrapper{
  display:flex;
}
/* animation scroll 
.skillsContainer{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.5s ease-in-out;
}

.skillsContainer:nth-of-type(even) {
  transform: translateX(-400%);
}

.skillsContainer.show {
  transform: translateX(0);
}*/

@media (min-width: 374px) and (max-width: 426px) {
  .topnav {
    display: block;
  }

  .menu ul {
    display: block;
    padding: 0;
    position: absolute;
    right: 0;
    top: 3em;
    background-color: rgb(156, 28, 28);
    border-radius: 0.5em;
    width: 100%;
  }

  .contact {
    display: none;
  }

  .skillsContainer {
    margin: auto;
    padding: 18px 33px;
    display: flex;
    justify-content: space-between;
  }

  .pro:before{
    content:" ";
    display: block;
    height: 2px;
    width: 80px;
    position: absolute;
    top: 70%;
    left: 70px;
    background:  #dedde1;
  }
  
  .pro::after{
    font-family: "poppins";
    content:" ";
    height: 2px;
    width: 80px;
    background: #dedde1;
    display: block;
    position: absolute;
    top: 70%;
      right: 70px;
  }

}

@media (min-width: 767px) and (max-width: 769px) {
  .menu {
    display: block;
    display: flex;
    position: static;
    background-color: rgb(0 0 0 / 18%);
  }

  .menu li {
    list-style: none;
    color: white;
    border-bottom: none;
    padding-right: 0.4em;
  }

  .closebtn,
  #menu-icon {
    display: none;
  }

  .contact {
    display: none;
  }

  .skillsContainer {
    padding: 20px 100px;
    align-items: center;
  }

  .pro:before{
  content:" ";
  display: block;
  height: 2px;
  width: 80px;
  position: absolute;
  top: 70%;
  left: 200px;
  background:  #dedde1;
}

.pro::after{
  font-family: "poppins";
  content:" ";
  height: 2px;
  width: 80px;
  background: #dedde1;
  display: block;
  position: absolute;
  top: 70%;
    right: 200px;
}

}

@media (min-width: 1023px) and (max-width: 2561px) {
  .menu {
    display: block;
    display: flex;
    position: static;
    background-color: rgb(0 0 0 / 18%);
  }

  .menu li {
    list-style: none;
    color: white;
    border-bottom: none;
    padding-right: 0.4em;
  }

  .closebtn,
  #menu-icon {
    display: none;
  }

  /* .skillsContainer {
    width:auto;
    align-items: center;
  } */

  .skillsContainer {
    width:800px;
    align-items: center;
    margin: auto;
  }
}
